*{
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  
}


.content{
  width: 310px;
  position: absolute;
  top: 50%;
  left:55% ;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgb(255, 255,255, 0.3);
  border: whitesmoke 0.5px solid;
  border-radius: 30px;
  padding: 5px 10px;
  
  
}

.showcase{
  background-image: url(/Perlog/img/Showcase.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  background-repeat: no-repeat;

}


.content h3{
  padding-bottom: 12px;
  font-size: 1.6rem;

}


.content input[type="username"],input[type="email"],input[type="password"]{
  display: block;
  
  width: 140px;
  text-align: center;
  margin: 10px auto;
  border: whitesmoke 0.4px solid;
  border-radius: 20px;
  padding: 5px 8px;
}



.Gend select{
  width: 80px;
  text-align: center;
  margin: 5px auto;
  border: whitesmoke 0.4px solid;
  border-radius: 20px;
  padding: 2px 4px;
}
  


button{
  width: 70px;
 
  border: none;
  text-align: center;
  margin: 10px auto;
  
  border: whitesmoke 1px solid;
  border-radius: 20px;
  cursor: pointer;
  padding: 1px;

}

button:hover{
  background: blueviolet;

 
}